/node_modules
/public/storage
/public/vrplay
/public/vendor
/public/fonts
/public/image
/public/css
/public/img
/public/js
/public/build
/public/upload
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
*.swp
*.swo
*.mp4
*.m4a
*.log
.vscode/
temp
*.back