.main.service {
    .serve {
        width: 100%;
        overflow: hidden;
        z-index: 1;
        position: relative;
        .content {
            position: relative;
            width: 100%;
        }
    }
    .section-01 {
        height: 480px;
        background-color: #f2f2f2;
        background-image: url(../img/service_sec01_01.jpg);
        background-position: center center;
        background-size: cover;
        .content {
            height: 480px;
        }
        .text_panel {
            position: absolute;
            left: 337px;
            top: 175px;
            text-align: center;
            .title {
                color: #000;
                font-weight: 300;
                letter-spacing: 0.1em;
                font-size: 72px;
            }
            p.txt {
                color: #000;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.1em;
                margin-bottom: 20px;
            }
        }
    }

    .section-02 {
        height: 680px;
        background-color: #fff;
        background-position: center center;
        background-size: cover;
        .content {
            height: 680px;
        }
        .text_panel {
            position: absolute;
            left: 0px;
            top: 60px;
            text-align: left;
            .figs {
                padding-top: 20px;
                list-style: none;
                color: #000;
                font-weight: 400;
                position: relative;
                height: 80px;
                .fig {
                    position: relative;
                    text-align: center;
                    width: 398px;
                    float: left;
                    margin-bottom: 30px;
                    margin-top: 30px;
                    .fig_value {
                        font-size: 26px;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .section-03 {
        height: 600px;
        background-color: #f5f5f5;
        .content {
            height: 600px;
        }
        .service_sec03_01 {
            position: absolute;
            left: 2px;
            bottom: 90px;
        }
        .text_panel {
            position: absolute;
            left: 496px;
            top: 120px;
            text-align: center;
            .title {
                color: #000;
                font-weight: 300;
                letter-spacing: 0.1em;
                font-size: 36px;
            }
            p.txt {
                padding-top: 20px;
                color: #000;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.1em;
                margin-bottom: 20px;
            }
        }
    }
}