.main.service {
    .section-01 {
        height: 400px;
        background-color: #000;
        background-image: url(../img/service_sec01_01.jpg);
        background-position: top center;
        background-size: cover;
        .content {
            height: 400px;
        }
        .aura_sec02_02 {
            position: absolute;
            left: 420px;
            top: 250px;
        }
        .text_panel {
            position: absolute;
            // width: 230px;
            // height: 170px;
            left: 368px;
            top: 80px;
            text-align: center;
            .title {
                color: #fff;
                font-weight: 300;
                letter-spacing: 0.1em;
                font-size: 36px;
            }
            p.txt {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.1em;
                margin-bottom: 20px;
            }
        }
    }
}