// keyframes
@keyframes reaboIn {
    0% {
        transform: scale(0.9);
        opacity: 0.2;
    }
    40% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes scalaLogo {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.2);
    }
}