.container {
    min-width: 1224px!important;
}

.bfooter {
    background-color: #fff;
    .container.bar {
        text-align: center;
        .content {
            height: 260px;
            padding: 20px;
            position: relative;
            .text_panel {
                position: absolute;
                right: 280px;
                top: 88px;
                a {
                    line-height: 34px;
                    font-size: 24px;
                    color: #fff;
                    border-radius: 0px;
                    width: 140px;
                    font-weight: 300;
                }
            }
            .text_panel2 {
                position: absolute;
                left: 280px;
                top: 34px;
                text-align: left;
                .title {
                    color: #333;
                    font-weight: 300;
                    letter-spacing: 0.1em;
                    font-size: 36px;
                }
                .divider {
                    height: 2px;
                    width: 200px;
                    margin-top: 20px;
                    border-bottom: 2px solid #3399cc;
                }
                .txt {
                    padding-top: 20px;
                    color: #000;
                    font-size: 16px;
                    font-weight: 300;
                    letter-spacing: 0.005em;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.footer {
    font-size: 13px;
    line-height: 1.45455;
    font-weight: 400;
    letter-spacing: 0.005em;
    background-color: #f2f2f2;
    color: #333;
    overflow: hidden;
    position: relative;
    // margin-top: 30px;
    a {
        color: #7d7d7d;
        text-decoration: none;
        &:hover {
            color: #333;
            text-decoration: underline;
        }
    }
    .columns {
        width: 70%;
        font-size: 11px;
        line-height: 1.37373;
        font-weight: 400;
        letter-spacing: 0.005em;
        position: relative;
        z-index: 1;
        padding-top: 20px;
        box-sizing: content-box;
        float: left;
        .column {
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            margin: 0px;
            padding: 0px;
            float: left;
            min-height: 2px;
            width: 25%;
        }
        .section {
            width: 100%;
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            margin: 0px;
            padding-top: 0px;
            float: left;
            min-height: 2px;
            pointer-events: none;
            .title {
                font-size: 13px;
                line-height: 1.37373;
                font-weight: 600;
                letter-spacing: 0.005em;
                margin: 0px;
                margin-bottom: 12px;
                color: #333;
            }
            .list {
                margin-right: 20px;
                list-style: none;
                padding: 0px;
            }
            .item {
                display: block;
                pointer-events: auto;
                margin-bottom: 8px;
            }
        }
    }
    .with-5-columns {
        .column {
            width: 20%;
        }
    }
    .with-4-columns {
        .column {
            width: 25%;
        }
    }
    .secondary {
        width: 30%;
        float: left;
        box-sizing: content-box;
        padding-top: 20px;
        overflow: hidden;
        .content {
            border-left: 1px solid #bfbebe;
            padding-left: 60px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-top: 20px;
            .title {
                color: #7d7d7d;
                font-size: 16px;
                font-weight: 400;
                a {
                    color: #3aafd6;
                }
            }
        }
    }
    .gf-footer {
        padding-top: 25px;
        margin-bottom: 25px;
        .gf-footer-logo {
            text-align: center;
            border-bottom: 1px solid #d6d6d6;
            margin-bottom: 18px;
            padding-bottom: 18px;
        }
        .gf-footer-legal {
            position: relative;
            z-index: 1;
            .gf-footer-legal-copyright {
                color: #7d7d7d;
                text-align: center;
            }
        }
    }
}

.headroom--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-64px)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-64px)
    }
    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-64px)
    }
    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-64px)
    }
    100% {
        transform: translateY(0)
    }
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fadein {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fadein {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-64px)
    }
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp
}

.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

.hide-from-print {
    display: none
}

.header {
    position: fixed;
    // padding-top: 10px;
    // padding-bottom: 10px;
    min-width: 1224px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    .navbar {
        margin-bottom: 0px;
        border: 0px;
        height: 64px;
    }
    .navbar-header {
        height: 64px;
        width: 180px;
        img {
            margin-top: 9px;
        }
    }
    .navbar-default .navbar-nav>div {
        margin: 0px 12px;
    }
    .navbar-default .navbar-left,
    .navbar-default .navbar-right {
        display: flex;
    }
    .navbar-default .navbar-left.navbar-nav>.menu-item>a {
        height: 64px;
        line-height: 64px;
        text-decoration: none;
        transition: all .3s ease-in-out;
        padding: 0 18px;
        font-size: 14px;
        font-weight: 300;
        color: #737373;
        &:hover {
            color: #737373;
        }
    }
    .navbar-default .navbar-left {
        .dropdown.menu-item:hover {
            .sub-menu-bg {
                height: 165px;
                z-index: 4;
                transition: -webkit-transform .2s ease-in-out;
                transition: transform .2s ease-in-out;
                transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
                -webkit-transform: scaleY(1);
                transform: scaleY(1)
            }
        }
        .dropdown.menu-item.enter {
            .sub-menu {
                display: flex;
                // transition-delay: .3s;
                animation-duration: .3s;
                animation-name: fadein;
                animation-fill-mode: both;
            }
        }
        // .menu-item.open .sub-menu {
        //     height: 165px;
        // }
        .menu-item .sub-menu-bg {
            position: fixed;
            width: 100%;
            height: 0px;
            left: 0px;
            background-color: #fff;
            overflow: hidden;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
            transform-origin: top left;
            // transition: all .35s;
            z-index: 3;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
        }
        .menu-item .sub-menu {
            display: none;
            position: absolute;
            // top: 64px;
            width: auto;
            padding: 0px 0;
            z-index: 4;
            // transition: all .35s;
            a {
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 120px;
                min-width: 120px;
                margin: 0 10px;
                opacity: 1;
                -webkit-transform: translateX(50%);
                transform: translateX(50%);
                opacity: 0.6;
                transition: all .25s;
                text-decoration-line: none;
                &:hover {
                    opacity: 1;
                }
                span {
                    font-size: 14px;
                    margin-top: -10px;
                }
            }
            .img-medium {
                height: 120px;
            }
        }
        #menu-product.menu-item .sub-menu {
            left: -80px;
        }
        #menu-about.menu-item .sub-menu {
            left: -380px;
        }
        #menu-support.menu-item .sub-menu {
            left: -364px;
        }
    }
    .navbar-default .navbar-nav>div>a.btn {
        color: #f0f0f0;
        margin-top: 15px!important;
    }
    .navbar-default .navbar-nav>div>a.btn:hover,
    .navbar-default .navbar-nav>div>a.btn:focus {
        background-color: #3399bb;
    }
    .navbar-default .navbar-nav>div>a.dropdown-toggle {
        background-color: inherit;
        color: #737373;
        &:hover {
            color: #737373;
        }
    }
    .navbar-default .navbar-nav>div.open>a.dropdown-toggle {
        // margin-left: 0px;
        // border-left: 1px solid #3aafd6;
    }
    .dropdown {
        .dropdown-menu {
            background-color: rgba(0, 0, 0, .8);
            top: calc(100% + 0px);
            border: 0px;
            z-index: 2;
            border-radius: 0px;
            li {
                margin: 10px auto;
            }
            a {
                color: #fff;
                font-size: 13px;
                letter-spacing: 0.005em;
                line-height: 1.37373;
                font-weight: 400;
                &:hover {
                    background-color: inherit;
                    color: #3aafd6;
                }
            }
        }
    }
    .btn {
        background-color: #3aafd6;
        border-color: #2aa4cc;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 11px!important;
        border-radius: 3px;
    }
}