.main.contact_lease {
    .contlease {
        width: 100%;
        overflow: hidden;
        z-index: 1;
        position: relative;
        .content {
            position: relative;
            width: 100%;
        }
    }
    .section-01 {
        height: 800px;
        background-color: #020609;
        background-image: url(/img/contact_lease_sec01_01.jpg);
        background-position: center center;
        background-size: cover;
        .content {
            height: 800px;
        }
        .text_panel {
            z-index: 3;
            position: absolute;
            left: 383px;
            top: 240px;
            text-align: center;
            .title {
                color: #f0f0f0;
                font-weight: 300;
                letter-spacing: 0em;
                font-size: 36px;
            }
            p.txt {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 36px;
                font-weight: 300;
                letter-spacing: 0.05em;
            }
            p.txt1 {
                padding-top: 0px;
                color: #f0f0f0;
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 0.05em;
                margin-bottom: 40px;
            }
            // p.txt1 {
            //     padding-top: 20px;
            //     color: #f0f0f0;
            //     font-size: 24px;
            //     font-weight: 300;
            //     letter-spacing: 0.05em;
            //     margin-bottom: 40px;
            // }
            p.txt2 {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.05em;
                line-height: 2.1em;
                margin-bottom: 40px;
            }
            p.txt3 {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.05em;
                margin-bottom: 40px;
            }
            .divider {
                margin: 0px auto;
                height: 2px;
                width: 200px;
                margin-top: 10px;
                margin-bottom: 10px;
                border-bottom: 2px solid #3399cc;
            }
        }
    }
    .section-02 {
        height: 800px;
        background-color: #000;
        background-image: url(/img/contact_lease_sec02_01.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        .content {
            height: 800px;
        }
        .text_panel {
            z-index: 3;
            position: absolute;
            left: 40px;
            top: 80px;
            text-align: left;
            .title {
                color: #f0f0f0;
                font-weight: 300;
                letter-spacing: 0em;
                font-size: 36px;
            }
            p.txt1 {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 0.05em;
                margin-bottom: 20px;
            }
            p.txt2 {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.05em;
                line-height: 2.1em;
                margin-bottom: 40px;
            }
            p .label {
                font-weight: 300;
                border-radius: 1em;
                line-height: 2.6em;
                font-size: 16px;
            }
        }
    }
    .section-03 {
        height: 800px;
        background-color: #020609;
        background-image: url(/img/contact_lease_sec03_01.jpg);
        background-position: center center;
        background-size: cover;
        .content {
            height: 800px;
        }
        .text_panel {
            z-index: 3;
            position: absolute;
            left: 183px;
            top: 160px;
            text-align: center;
            .title {
                color: #f0f0f0;
                font-weight: 300;
                letter-spacing: 0em;
                font-size: 36px;
            }
            p.txt1 {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 0.05em;
                margin-bottom: 40px;
            }
            p.txt2 {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.05em;
                line-height: 2.1em;
                margin-bottom: 40px;
            }
            p.txt3 {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.05em;
                margin-bottom: 40px;
            }
        }
    }
    .section-04 {
        height: 560px;
        background-color: #020609;
        .content {
            height: 560px;
        }
        .text_panel {
            z-index: 3;
            position: absolute;
            left: 147px;
            top: 80px;
            text-align: center;
            .title {
                color: #f0f0f0;
                font-weight: 300;
                letter-spacing: 0em;
                font-size: 36px;
            }
            p.txt {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 36px;
                font-weight: 300;
                letter-spacing: 0.05em;
            }
            p.txt1 {
                padding-top: 0px;
                color: #f0f0f0;
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 0.05em;
                margin-bottom: 10px;
            }
            p.txt2 {
                padding-top: 40px;
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.05em;
                line-height: 2.1em;
                margin-bottom: 0px;
            }
            p.txt3 {
                padding-top: 20px;
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.05em;
                margin-bottom: 40px;
            }
            .divider {
                margin: 0px auto;
                height: 2px;
                width: 200px;
                margin-top: 10px;
                margin-bottom: 10px;
                border-bottom: 2px solid #3399cc;
            }
            .figs {
                padding-top: 100px;
                list-style: none;
                color: #f0f0f0;
                font-weight: 300;
                position: relative;
                height: 80px;
                .fig {
                    position: relative;
                    text-align: center;
                    width: 300px;
                    float: left;
                    height: 150px;
                    .fig_value {
                        font-size: 26px;
                        color: #3aafd6;
                    }
                    .fig_title {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .section-05 {
        height: 940px;
        background-color: #f2f2f2;
        background-image: url(/img/contact_order_sec01_01.jpg);
        background-position: top center;
        background-size: cover;
        .content {
            height: 940px;
        }
        .divider {
            margin: 0px auto;
            height: 2px;
            width: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-bottom: 2px solid #3399cc;
        }
        .text_panel {
            position: absolute;
            left: 295px;
            top: 80px;
            text-align: center;
            .title {
                color: #fff;
                font-weight: 300;
                letter-spacing: 0em;
                font-size: 32px;
            }
            p.txt {
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.1em;
                margin-bottom: 20px;
            }
            a {
                color: #3aafd6;
                cursor: pointer;
            }
            small {
                font-size: 80%;
            }
        }
        .text_panel2 {
            position: absolute;
            left: 297px;
            top: 300px;
            .figs {
                padding-top: 20px;
                list-style: none;
                color: #f0f0f0;
                font-weight: 300;
                position: relative;
                height: 80px;
                .fig {
                    position: relative;
                    text-align: left;
                    width: 600px;
                    height: 480px;
                    float: left;
                    background-color: rgba(252, 252, 252, 0.1);
                    padding: 20px 30px;
                    .input-bace {
                        input {
                            height: 40px;
                        }
                        input,
                        textarea {
                            background-color: rgba(0, 0, 0, 0.3);
                            border: 0px;
                            border-radius: 0px;
                            resize: none;
                            color: #fff;
                            letter-spacing: 0.01em;
                        }
                        input::-ms-input-placeholder,
                        textarea::-ms-input-placeholder {
                            text-align: center;
                        }
                        input::-webkit-input-placeholder,
                        textarea::-webkit-input-placeholder {
                            text-align: center;
                        }
                        button.btn {
                            border-radius: 0px;
                            height: 40px;
                        }
                        .gt_holder.gt_float {
                            margin: 0px auto;
                        }
                    }
                }
                .fig.right {
                    margin-left: 60px;
                }
            }
        }
        .text_panel3 {
            position: absolute;
            left: 230px;
            bottom: 40px;
            text-align: center;
            p.txt {
                color: #f0f0f0;
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 0.005em;
            }
            a {
                color: #3aafd6;
            }
        }
    }
}