.main.download {
    .dld {
        width: 100%;
        overflow: hidden;
        z-index: 1;
        position: relative;
        .content {
            position: relative;
            width: 100%;
        }
    }
    .section-01 {
        height: 880px;
        background-color: #f2f2f2;
        background-image: url(../img/download_sec01_01.jpg);
        background-position: top center;
        background-size: cover;
        .content {
            height: 880px;
        }
        .text_panel {
            position: absolute;
            left: 398px;
            top: 140px;
            text-align: center;
            .title {
                color: #fff;
                font-weight: 300;
                letter-spacing: 0.1em;
                font-size: 64px;
            }
            p.txt {
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.1em;
                margin-bottom: 20px;
            }
        }
        .text_panel2 {
            position: absolute;
            left: 67px;
            top: 300px;
            .figs {
                padding-top: 20px;
                list-style: none;
                color: #f0f0f0;
                font-weight: 300;
                position: relative;
                height: 80px;
                .fig {
                    position: relative;
                    text-align: center;
                    width: 500px;
                    height: 480px;
                    float: left;
                    background-color: rgba(252, 252, 252, 0.1);
                }
                .fig.right {
                    margin-left: 60px;
                }
            }
        }
    }
}