.main.service {
    .serve {
        width: 100%;
        overflow: hidden;
        z-index: 1;
        position: relative;
        .content {
            position: relative;
            width: 100%;
        }
    }
    .section-01 {
        height: 420px;
        background-color: #000;
        background-image: url(../img/service_sec01_01.jpg);
        background-position: top center;
        background-size: cover;
        .content {
            height: 420px;
        }
        .aura_sec02_02 {
            position: absolute;
            left: 420px;
            top: 250px;
        }
        .text_panel {
            position: absolute;
            left: 337px;
            top: 120px;
            text-align: center;
            .title {
                color: #fff;
                font-weight: 300;
                letter-spacing: 0.1em;
                font-size: 72px;
            }
            p.txt {
                color: #f0f0f0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.1em;
                margin-bottom: 20px;
            }
        }
    }
}