* {
    margin: 0px;
    padding: 0px;
}

img {
    user-select: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
    min-width: 1224px;
    margin: 0px;
    padding: 0px;
}

main {
    margin-top: 64px;
}