$gray-darker: #777;
$link-color: $gray-darker;
$btn-primary-bg: #3aafd6;
$btn-primary-border: darken($btn-primary-bg, 5%);
$font-family-base: 'Helvetica Neue', Helvetica, 'Microsoft Yahei',Arial, sans-serif;
// $icon-font-path: '/packages/reywood_bootstrap3-sass/assets/fonts/bootstrap/';
$navbar-default-bg: #fff;
$navbar-border-radius: 0;
